.config{
		margin-right: 5px;

}
#change{
		margin: 0 auto;
}

.menu{
	margin-left: 5px

}
.carousel-inner img{	

	margin:0 auto;
	max-width: 100%;

}


.footer {
	color: #FFFEFE;
	text-align: center;
	font-family: comic;
	font-style: italic;
	background-image: url("imagenMenu.jpg");
	width: 100%;
}

#menuUsuario{
	display: none;
}
#tit1{
	color:#FFFFFF;
}