
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>_LayoutAdmin</title>
</head>
<body>
    <img src="http://www.gwcpics.com/images/abstract/black-red-line-light.jpg" height="100" width="1366">

    <div> 
        @RenderBody()
        <footer>

            @DateTime.Now.Year - Siu Guaraní UNRP
        </footer>
    </div>
</body>
</html>
